
<style>
    
    th{
    border-style: solid;
    border-width:3px;
    border-color:#B6B6B6;
    //background-color:#f5f5f5;
    }
    td{
    border-style: solid;
    border-width:3px;
    border-color:#B6B6B6;
    //background-color:#f5f5f5;
    text-align:center;
    padding: 30px;
    }
    .classtime {
        border-style: dotted;
        border-color: red;
    }
</style>
